<div class="col-xs-12">

    <h1>Contact opnemen</h1>

    <blockquote>
        <p>"Yoga teaches us to cure what need not be endured and to endure what cannot be cured."</p>
        <footer>B.K.S. Iyengar</footer>
    </blockquote>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/leonie-en-luka.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">

                <div class="col-xs-12">
                    <address>
                        <h2>Leonie Bor</h2>
                        Sijthoffstraat 39<br>
                        2332 PZ  LEIDEN<br>
                        <abbr title="Phone">P:</abbr> 06 - 145 15 165
                    </address>

                    <address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:leonie.bor.pieters@gmail.com">leonie.bor.pieters@gmail.com</a>
                    </address>
                </div>

            </div>
        </div>
    </div>

</div>
