<div class="col-xs-12">

    <h1>Mijn rooster</h1>

    <blockquote>
        <p>"Yoga is not about touching your toes, it's about what you learn on the way down..."</p>
        <footer>Anonymous</footer>
    </blockquote>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/centre-of-body-and-mind.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">

                <div class="col-xs-12">
                    <h2><a href="http://centrebodymind.nl/rooster/lessen.html">Centre of Body and Mind</a></h2>
                </div>

                <div class="col-xs-12">
                    <h3>Maandag</h3>
                </div>

                <div class="col-xs-6"><strong>Omschrijving</strong></div>
                <div class="col-xs-2"><strong>Tarief</strong></div>
                <div class="col-xs-4"><strong>Datum/tijd</strong></div>

                <div class="col-xs-6">Ashtanga Vinyasa Yoga</div>
                <div class="col-xs-2"><a href="http://centrebodymind.nl/abonnementen/">site</a></div>
                <div class="col-xs-4">08.45 - 10.00 uur</div>

                <div class="col-xs-6">Yoga & Pilates</div>
                <div class="col-xs-2"><a href="http://centrebodymind.nl/abonnementen/">site</a></div>
                <div class="col-xs-4">10.00 - 11.15 uur</div>

                <div class="col-xs-12">
                    <h3>Woensdag</h3>
                </div>

                <div class="col-xs-6"><strong>Omschrijving</strong></div>
                <div class="col-xs-2"><strong>Tarief</strong></div>
                <div class="col-xs-4"><strong>Datum/tijd</strong></div>

                <div class="col-xs-6">Yoga & meditatie</div>
                <div class="col-xs-2"><a href="http://centrebodymind.nl/abonnementen/">site</a></div>
                <div class="col-xs-4">20.30 - 21.45 uur</div>

                <div class="col-xs-12">
                    <h3>Vrijdag</h3>
                </div>

                <div class="col-xs-6"><strong>Omschrijving</strong></div>
                <div class="col-xs-2"><strong>Tarief</strong></div>
                <div class="col-xs-4"><strong>Datum/tijd</strong></div>

                <div class="col-xs-6">Yoga & meditatie</div>
                <div class="col-xs-2"><a href="http://centrebodymind.nl/abonnementen/">site</a></div>
                <div class="col-xs-4">20.30 - 21.45 uur</div>

            </div>

        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/yoga-touch.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">

                <div class="col-xs-12">
                    <h2><a href="http://www.yoga-touch.nl/">Yoga Touch</a></h2>
                </div>

                <div class="col-xs-12">
                    <h3>Zondag</h3>
                </div>

                <div class="col-xs-6"><strong>Omschrijving</strong></div>
                <div class="col-xs-2"><strong>Tarief</strong></div>
                <div class="col-xs-4"><strong>Datum/tijd</strong></div>

                <div class="col-xs-6">Ashtanga Vinyasa Yoga</div>
                <div class="col-xs-2"><a href="http://www.yoga-touch.nl/">site</a></div>
                <div class="col-xs-4">11.00 - 12.30 uur</div>

            </div>

        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/lesvormen/chandra-maan.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">

                <div class="col-xs-12">
                    <h2><a href="http://www.yogastudiochandramaan.nl/">Chandra Maan</a></h2>
                </div>

                <div class="col-xs-12">
                    <h3>Invallessen</h3>
                </div>

                <div class="col-xs-6"><strong>Omschrijving</strong></div>
                <div class="col-xs-2"><strong>Tarief</strong></div>
                <div class="col-xs-4"><strong>Datum/tijd</strong></div>

                <div class="col-xs-6">Yoga</div>
                <div class="col-xs-2"><a href="http://www.yogastudiochandramaan.nl/">site</a></div>
                <div class="col-xs-4">variëert</div>

            </div>

        </div>
    </div>

    <div class="row">
        <hr class="separator">
        <h1>Lesvormen</h1>
    </div>

    <div class="row ">
        <div class="col-xs-12 col-sm-4">
            <img src="img/lesvormen/mediteren.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">
                <div class="col-xs-12">
                    <h2>Meditatie</h2>
                </div>

                <div class="col-xs-12">
                    <blockquote>
                        <p>Meditatie is de kern van mindfulness en houdt in dat je aandacht geeft op een speciale manier: doelbewust, op het moment zelf en niet oordelend aan dingen zoals ze zijn.</p>
                        <footer>Williams, Teasdale, Segal en Kabat-Zinn (2007)</footer>
                    </blockquote>
                    <p>Meditatie is niets meer dan je gedachten richten op een specifiek object. Meestal is dat object iets eenvoudigs, zoals een woord of een zin, een kaarsvlam of geometrische figuur, of je ademhaling. In het dagelijks leven verwerkt je geest voortdurend een veelheid aan gewaarwordingen, visuele indrukken, emoties en gedachten. Wanneer je mediteert, vernauw je je focus en beperk je het aantal stimuli dat een aanslag doet op je zenuwstelsel. Op deze manier kun je je geest tot rust laten komen.</p>
                    <blockquote>
                        <p><em>Bevordert rust in een druk leven</em></p>
                    </blockquote>

                </div>

            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12 col-sm-4">
            <img src="img/lesvormen/hatha.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">

                <div class="col-xs-12">
                    <h2>Hatha Yoga</h2>
                </div>

                <div class="col-xs-12">
                    <p>Hatha yoga is een zachte, fysieke vorm van yoga. De nadruk ligt op rustige beweging in combinatie met de ademhaling. In iedere spier van het lichaam kan je spanning opslaan. Op het moment dat je deze spanning kan bevrijden door het doen van yoga-oefeningen, dan kun je je lichaam ontspannen. Hierdoor kun je ook je geest ontspannen.</p>
                    <blockquote>
                        <p><em>Mengvorm van innerlijke rust en zachte fysieke beweging</em></p>
                    </blockquote>
                </div>


            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12 col-sm-4">
            <img src="img/lesvormen/vinyasa.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">

                <div class="col-xs-12">
                    <h2>Vinyasa Flow Ashtanga</h2>
                </div>

                <div class="col-xs-12">
                    <p>Deze fysieke vorm van yoga is dynamisch en krachtig. Je doet zonnegroeten en werkt met vaststaande reeksen. Ook hier is de ademhaling en concentratie belangrijk. De aandacht ligt meer op de flow, oftewel de vloeiende beweging.</p>
                    <blockquote>
                        <p><em>Intensieve en vloeiende fysieke beweging</em></p>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-12 col-sm-4">
            <img src="img/lesvormen/pilates.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8">

            <div class="row">

                <div class="col-xs-12">
                    <h2>Pilates</h2>
                </div>

                <div class="col-xs-12">
                    <p>Geïnspireerd door yoga houdingen heeft Joseph Pilates deze techniek ontwikkeld. Hij heeft gewerkt met mensen die geblesseerd waren, dansers die de kracht in hun lichaam nodig hebben voor een goede houding. Zijn filosofie dat alles bijzonder goed functioneert vanuit stabiliteit werkt goed, en zorgt ervoor dat er ruimte komt tussen de wervels van de wervelkolom, versterkend en versoepelend. Pilates maakt de spieren in je bovenlichaam sterk en stabiel en zorgt voor een goede houding.</p>
                    <blockquote>
                        <p><em>Krachtige fysieke beweging gebaseerd op inspanning, ontspanning</em></p>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>

</div>


