<div class="col-xs-12">

    <h1>Gevolgde opleidingen en workshops</h1>

    <blockquote>
        <p>"If you are feeling blue - try painting yourself a different color"</p>
        <footer>Hannah Cheatem, Age 8</footer>
    </blockquote>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/moulin-de-chavres.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Yin Insight Yoga Teacher Training</h3>
            <p class="instituut"><a href="http://www.sarahpowers.com/sp/">Sarah Powers</a>, Moulin de Chavres, Mei 2014</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/yoga-touch.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Do In workshop</h3>
            <p class="instituut"><a href="http://www.yoga-touch.nl/activiteiten.html">Yoga Touch</a>, Roelofarendsveen, Februari 2014</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/linggan.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Yin workshop</h3>
            <p class="instituut"><a href="http://www.linggan.nl/index.php/en/workshops/workshop-schedule">Linggan Yoga Studio</a>, Den Haag, Januari 2014</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/next-company.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Ki workshop</h3>
            <p class="instituut"><a href="http://www.nextcompany.nl/Workshop_Ki.html">Next Company</a>, Den Haag, Januari 2014</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/centre-of-body-and-mind.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Workshop Pranayana in Yin yoga</h3>
            <p class="instituut"><a href="http://centrebodymind.nl/">Centre of Body & Mind</a>, 2013, Sassenheim</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/yoga-delight.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Workshop Yin Yoga Special class</h3>
            <p class="instituut"><a href="http://delightyoga.nl/">Delight Yoga</a>, Amsterdam, 2013</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/danielle-brunsting.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Mindfulness</h3>
            <p class="instituut"><a href="http://www.daniellebrunsting.com/">Dani&#x00eb;lle Brunsting</a>, Oegstgeest, 2013</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/centre-of-body-and-mind-2.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Pilates</h3>
            <p class="instituut"><a href="http://centrebodymind.nl/">The Centre of Body & Mind</a>, Sassenheim, 2013</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/deugden-yoga.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Workshops</h3>
            <p class="instituut"><a href="http://www.dolfijnwellness.nl">Dolfijn Wellness</a>, Amsterdam, 2013</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/deugden-yoga-2.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Deugdenyoga</h3>
            <p class="instituut"><a href="http://www.dolfijnwellness.nl">Dolfijn Wellness</a>, Amsterdam, 2013</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/yoga-garden.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Ashtanga Vinyasa</h3>
            <p class="instituut"><a href="http://www.yogagarden.nl/nl/">Yoga Garden</a>, Amsterdam, 2012</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/deva-deva.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Yoga & Meditatie</h3>
            <p class="instituut"><a href="http://www.deva-deva.nl/">Deva Deva</a>, Lisse, 2011</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/pratyak-caitanya.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Raya Yoga</h3>
            <p class="instituut"><a href="http://www.caitanya.nl/">Pratyak Caitanya</a>, Heemskerk, 2009</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/reiki-meester.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Reiki I + II</h3>
            <p class="instituut"><a href="http://www.jojan.nl/">Jojan Jonkers</a>, Leiden, 2003</p>
        </div>
    </div>

    <div class="row opleiding">
        <div class="col-xs-12 col-sm-4">
            <img src="img/opleidingen/osmose.png" class="foto-club"/>
        </div>

        <div class="col-xs-12 col-sm-8 opleidingsinstituut">
            <h3><img src="img/lotus-flower.png"/>Hatha Yoga opleiding</h3>
            <p class="instituut"><a href="http://osmoseyoga.nl/">Osmose</a>, Den Haag, 2001</p>
        </div>
    </div>

</div>
