<div class="col-xs-12">

    <h1>Anahata Yoga</h1>

    <blockquote>
        <p>"When I went to school, they asked me what I wanted to be when I grew up. I wrote down 'happy.' They told me I didn't understand the assignment, and I told them they didn't understand life."</p>
        <footer>John Lennon</footer>
    </blockquote>

    <p>Anahata is het vierde chakra van de zeven hoofdchakra's, ook wel bekend als het hartchakra. De betekenis van de naam is <i>onvermoeibaar</i> of <i>onbeschadigd</i>. Dit chakra is het energetische centrum van de liefde, het medeleven en de menselijkheid. Deze chakra zorgt voor een liefdevol en ondersteunend contact met de ander en voert van het ik-bewustzijn naar het wij-bewustzijn. Dit chakra spreekt mij aan omdat het de verbinding legt tussen de geestelijke en fysieke aspecten van de mens, iets wat yoga voor mij symboliseert. Yoga betekent zelfs letterlijk <i>verbinden</i>.</p>

    <img class="me img-responsive" src="img/leonie-bor.jpg" title="Namaste"/>
    <p></p>

    <blockquote>
        <p>"Most of the shadows of this life are caused by our standing in our own sunshine"</p>
        <footer>Ralph Waldo Emerson</footer>
    </blockquote>

    <p>In mijn lessen leer ik je door middel van yoga en meditatie op geduldige wijze je grenzen op te zoeken en te verleggen.</p>

    <p>Mijn naam is Leonie en ik ben op negenjarige leeftijd begonnen met atletiek. Dit was toen mijn grootste passie. Rond mijn dertiende jaar werden twee scolioses in mijn ruggenwervels geconstateerd. Artsen adviseerden mij met atletiek te stoppen. Door middel van intensieve fysiotherapiebehandelingen kon ik toch doorgaan totdat ik een jaar of twintig was. Via Zita en Peter Poot, yogadocenten in Leiden, ben ik in aanraking gekomen met yoga. Mij werd duidelijk dat yoga een fysieke en een meditatieve kant heeft. Van beide heb ik veel voordeel gehad.</p>

    <p>Omdat ik mij meer wilde verdiepen in de achtergrond van yoga heb ik verschillende opleidingen gevolgd.</p>

    <p>Wat ik graag in mijn yogalessen door wil geven is het stap voor stap sterker en rustiger worden van lichaam en geest door middel van yoga en meditatie. Langzamerhand leer je tijdens de lessen waar je grenzen op fysiek en geestelijk niveau liggen en hoe je die grenzen kunt verleggen. Lukt het vandaag niet, dan probeer je het morgen opnieuw. Vergeet ook niet om af en toe om jezelf te lachen.</p>

    <p>Yoga is voor mij een gezonde manier om spanningen en blokkades in mijn lichaam op te heffen, zodat energie weer beter door mijn lichaam stroomt. Ik maak gebruik van ademhalingsoefeningen om te ontspannen en om krachtiger en energieker te worden. Meditatie is voor mij een manier om rust te vinden in mezelf, doordat ik de tijd neem om mijn aandacht naar binnen te richten. Hierdoor krijg ik meer zelf-inzicht.</p>

</div>


